@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1,h2,h3,h4,h5,h6 {
        @apply
        p-5
        font-bold
    }
    h1{
        @apply
        text-4xl
        text-red-700

    }
    h2{
        @apply
        text-3xl
        text-red-700
    }
    h3{
        @apply
        text-2xl

    }
    h4{
        @apply
        text-xl

    }
    h5{
        @apply
        text-lg

    }
    h6{
        @apply
        text-base

    }
    .btnSelect{
        @apply
        absolute
        top-0
        right-0
        p-2.5
        h-full
        w-3/12
        text-black bg-red-600
        max-lg:w-4/12 max-md:w-5/12
        dark:text-black dark:bg-red-600
        rounded-r-lg
        border border-red-950
        hover:bg-red-700 dark:hover:bg-red-700
        hover:text-2xl
    }
    .inputForm{
        @apply
        p-2
        text-black
        bg-red-600
        rounded-lg
        border border-red-950
        hover:text-2xl
        focus:text-2xl

    }
}

