@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1,h2,h3,h4,h5,h6 {
        @apply
        p-5
        font-bold
    }
    h1{
        @apply
        text-4xl text-red-700
        indent-8
    }
    h2{
        @apply
        text-3xl
        indent-12
        text-red-700
    }
    h3{
        @apply
        text-2xl
        indent-16
    }
    h4{
        @apply
        text-xl
        indent-20
    }
    h5{
        @apply
        text-lg
        indent-24
    }
    h6{
        @apply
        text-base
        indent-28
    }
    .btnSelect{
        @apply
        absolute
        top-0
        right-0
        p-2.5
        h-full
        w-3/12
        text-black bg-red-600
        max-lg:w-4/12 max-md:w-5/12
        dark:text-black dark:bg-red-600
        rounded-r-lg
        border border-red-950
        hover:bg-red-700 dark:hover:bg-red-700
        hover:text-2xl
    }

}

